body{
   background-color: rgb(32, 174, 236);
   margin:2px;
   padding: 0px;
}
.fullpage{
    display: flex;
    gap: 2px;
}
.box{
    height: 67px;
    width: 65px;
    margin-top: 3px;
    
    padding: 5px;
    background-color: rgb(35, 33, 33);
    transition: background-color 1s ease-out;
    

}
.box:hover {
    background: rgb(32, 174, 236);
    transition: none;
    
}
body:hover{
    animation: colorchange 10s infinite;
}
@keyframes colorchange{
    0%{
        background-color: black
    }
    50%{
        background-color:rgb(32, 174, 236);
    }
    100%{
        background-color: black
    }
}

.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
    background-color: rgb(40, 40, 40);
    box-shadow: 4px ;

    height: 450px;
    width: 350px;

    

}

.signin{
    margin-left: 17vh;
    margin-top: 50px;
    color: rgb(32, 174, 236);
    font-size: 35px;
}

.inputbox{
    margin-left: 35px;
    
}

#input{
    height: 30px;
    width: 40vh;
    margin-bottom: 10px;
    margin-top: 8px;
    padding-bottom: 5px;
   background-color: rgb(87, 88, 88);
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
    position: relative;
}

.i{
    color:rgb(32, 174, 236);
    font-size: larger;
    
}

.forgetpassword{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    color: rgb(32, 174, 236);
    cursor:pointer
}

.login{
    cursor: pointer;
    height: 30px;
    width: 40vh;
    padding-bottom: 5px;
    margin-left: 37px;
   background-color: rgb(87, 88, 88);
   font-size: 23px;
   margin-top: 10px;
   background-color:rgb(32, 174, 236);
   font-weight: bold;

}
.loginp{
    margin-left: 100px;
    
} 